@using System.Security.Claims;
@model ShowroomManagement.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    var identity = Context.User.Identity as ClaimsIdentity;
    Account currentAccount = null;

    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value)
                };

        if (currentAccount != null && (currentAccount.Username == null || currentAccount.Username == string.Empty))
        {
            currentAccount = null;
        }

    }
}

@{
    Account employeeAccount = ViewBag.employeeAccount;
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        @if (employeeAccount != null && currentAccount.Level_account >= 2)
        {
            <dt class="col-sm-2">
                Account
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Accounts" asp-action="Person" asp-route-id="@employeeAccount.EmployeeId">
                    @employeeAccount.Username
                </a>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
