@using System.Diagnostics;
@model IEnumerable<ShowroomManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    Debug.WriteLine("\n\nPAGE = " + total + "\n\n");
    bool hasNext = ViewBag.nextPage;
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        Tạo mới
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.SaleId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @(item.DateBirth != null ?
                        item.DateBirth.Value.ToString("dd/MM/yyyy") : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cccd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.SaleId)
            </td>
            *@
                <td>
                    @(item.Gender != null && (bool)item.Gender ? "Nam" : "Nữ")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container d-flex gap-1 justify-content-center">
    @for (int i = 0; i < total; i++)
    {
        @if (i + 1 == page)
        {
            <button class="btn btn-outline-primary active" disabled>@(i + 1)</button>
        }
        else if (total > 10 && i > 5 && i < 8)
        {
            <span>.</span>
        }
        else
        {
            <a class="btn btn-outline-primary"
               asp-action="Index" asp-route-page="@(i + 1)">
                @(i + 1)
            </a>
        }
    }
</div>
