@using System.Diagnostics;
@using System.Security.Claims;
@model IEnumerable<ShowroomManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    // Debug.WriteLine("\n\nPAGE = " + total + "\n\n");
    bool hasNext = ViewBag.nextPage;
}
@{
    Account currentAccount = null;

    var identity = Context.User.Identity as ClaimsIdentity;
    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value),
                    EmployeeId = accountClaims.FirstOrDefault(p => p.Type == "EmployeeId")?.Value
                };

        if (currentAccount != null && (currentAccount.Username == null || currentAccount.Username == string.Empty))
        {
            currentAccount = null;
        }

    }
}

<h1>Danh sách nhân viên</h1>
@if (currentAccount.Level_account >= 2)
{
    <p><small><a asp-action="Trash">Thùng rác</a></small></p>
}
<div class="d-flex">
    @if (currentAccount.Level_account >= 2)
    {
        <a asp-action="Create" class="btn btn-outline-primary d-flex align-items-center gap-2">
            <span class="material-symbols-outlined" style="font-size: 1rem">
                add_circle
            </span>
            Tạo mới
        </a>
    }
    @if (currentAccount.Level_account == 1)
    {
        <a asp-action="SignWorkDate" class="btn btn-outline-primary">
            Đăng ký lịch
        </a>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @item.DateBirth.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cccd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @item.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.Gender ? "Nam" : "Nữ")
                </td>
                <td class="d-flex gap-1">
                    @if (currentAccount.Level_account >= 2)
                    {
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.EmployeeId">
                        <span class="material-symbols-outlined">
                            info
                        </span>
                    </a>
                    @if (currentAccount.Level_account >= 2)
                    {
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container d-flex gap-1 justify-content-center">
    @for (int i = 0; i < total; i++)
    {
        @if (i + 1 == page)
        {
            <button class="btn btn-outline-primary active" disabled>@(i + 1)</button>
        }
        else if (total > 10 && i > 5 && i < 8)
        {
            <span>.</span>
        }
        else
        {
            <a class="btn btn-outline-primary"
               asp-action="Index" asp-route-page="@(i + 1)">
                @(i + 1)
            </a>
        }
    }
</div>
