@model IEnumerable<ShowroomManagement.Models.Device>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách Thiết bị</h1>

<p>
    <a asp-action="Create"
       class="btn btn-outline-primary">
        Tạo mới
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeviceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeviceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeviceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
