@model IEnumerable<ShowroomManagement.Models.Device>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách Thiết bị</h1>

<p>
    <a asp-action="Create"
       class="btn btn-outline-primary">
        <span class="material-symbols-outlined" style="font-size: 1rem">
            add_circle
        </span>
        Tạo mới
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeviceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeviceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeviceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    // Debug.WriteLine("\n\nPAGE = " + total + "\n\n");
    bool hasNext = ViewBag.nextPage;
}
<div class="pagination-container d-flex gap-1 justify-content-center">
    @for (int i = 0; i < total; i++)
    {
        @if (i + 1 == page)
        {
            <button class="btn btn-outline-primary active" disabled>@(i + 1)</button>
        }
        else if (total > 10 && i > 5 && i < 8)
        {
            <span>.</span>
        }
        else
        {
            <a class="btn btn-outline-primary"
               asp-action="Index" asp-route-page="@(i + 1)">
                @(i + 1)
            </a>
        }
    }
</div>