@using System.Security.Claims;
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<PurchaseInvoice> purchaseInvoices = ViewBag.PurchaseInvoices;
    IEnumerable<SalesInvoice> salesInvoices = ViewBag.SalesInvoices;

    Account currentAccount = null;

    var identity = Context.User.Identity as ClaimsIdentity;
    if (identity != null)
    {
        var accountClaims = identity.Claims;

        currentAccount = new Account()
                {
                    Username = accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value,
                    Level_account = Convert.ToInt32(accountClaims.FirstOrDefault(p => p.Type == ClaimTypes.Role)?.Value),
                    EmployeeId = accountClaims.FirstOrDefault(p => p.Type == "EmployeeId")?.Value
                };

        if (currentAccount != null && (currentAccount.Username == null || currentAccount.Username == string.Empty))
        {
            currentAccount = null;
        }

    }
}

<h1 style="font-size: 2rem">Hóa đơn</h1>
<hr />
<div class="purchase-invoice-container mt-5">
    <h2>Danh sách hóa đơn nhập</h2>

    <p>
        <a asp-controller="PurchaseInvoices" asp-action="Create" class="btn btn-outline-primary">
            Tạo mới
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã hóa đơn
                </th>
                <th>
                    Mã NCC
                </th>
                <th>
                    Ngày nhập
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in purchaseInvoices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InEnterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnteredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="d-flex gap-1">
                        @if (currentAccount.Level_account >= 2)
                        {
                            <a asp-action="Edit" asp-route-id="@item.InEnterId">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </a>
                        }
                        <a asp-action="Details" asp-route-id="@item.InEnterId">
                            <span class="material-symbols-outlined">
                                info
                            </span>
                        </a>
                        @if (currentAccount.Level_account >= 2)
                        {
                            <a asp-action="Delete" asp-route-id="@item.InEnterId">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="PurchaseInvoices" asp-action="Index">Xem tất cả</a>
    </div>
</div>
<div class="sales-invoices mt-3 mt-md-5">
    <h2>Danh sách hóa đơn bán</h2>

    <p>
        <a class="btn btn-outline-primary" asp-controller="SalesInvoices" asp-action="Create">Tạo mới</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã hóa đơn
                </th>
                <th>
                    Mã KH
                </th>
                <th>
                    Ngày bán
                </th>
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in salesInvoices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InSaleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaleDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantitySale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="d-flex gap-1">
                        @if (currentAccount.Level_account >= 2)
                        {
                            <a asp-action="Edit" asp-route-id="@item.InSaleId">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </a>
                        }
                        <a asp-action="Details" asp-route-id="@item.InSaleId">
                            <span class="material-symbols-outlined">
                                info
                            </span>
                        </a>
                        @if (currentAccount.Level_account >= 2)
                        {
                            <a asp-action="Delete" asp-route-id="@item.InSaleId">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="SalesInvoices" asp-action="Index">Xem tất cả</a>
    </div>
</div>
