@model IEnumerable<ShowroomManagement.Models.Products>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="list-container px-2 px-md-5">   
    <h1>Danh sách sản phẩm</h1>
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Tạo mới</a>
    </p>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Serial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InEnterId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InSaleId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InEnterId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InSaleId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Bạn chưa có sản phẩm nào</h3>
    }
</div>
