@using ShowroomManagement.Models;
@model Account
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var role = Model.Level_account;
    Employee currEmployee = (Employee)ViewBag.currEmployee;
}
@section Styles{
    <link rel="stylesheet" href="~/css/account/Person.css" asp-append-version="true" />
}

<div class="row my-4" style="position: relative; flex-wrap: nowrap">
    <div class="col-12 col-md-4">
        <h2>Thông tin tài khoản</h2>
        @if (currEmployee.Url_image != string.Empty)
        {
            <div class="mb-4 d-flex justify-content-center">
                <div id="avatar-thumbnail" class="thumbnail rounded-2 overflow-hidden" style="width: 100%; max-width: 15rem; max-height: 15rem;">
                    <button class="btn btn-primary"
                            style="position: absolute; right: 0; bottom: 0; font-size: 0.8rem;"
                            onclick="OpenChangeAvatarForm()">
                        Đổi avatar
                    </button>
                    <a target="_blank" href="@currEmployee.Url_image">
                        <img src="@currEmployee.Url_image" alt="Avatar" />
                    </a>
                </div>
            </div>
            <form id="update-avatar-form" asp-action="UpadateAvatar" class="mb-3 d-none" enctype="multipart/form-data">
                <input type="hidden" name="employeeId" value="@currEmployee.EmployeeId" />
                <label class="d-block rounded-3" style="position: relative; width: 100%; height: 100px; background: rgb(245, 245, 245)">
                    <input type="file" class="d-none" name="url_image" onchange="loadFile(event)" />
                    <div class="center">
                        <p>Avatar mới</p>
                    </div>
                </label>
                <div class="d-flex mt-2" style="justify-content: end">
                    <button class="btn btn-outline-primary" type="submit">Lưu</button>
                </div>
            </form>
        }
        else
        {
            <form asp-action="UpadateAvatar" class="mb-3" enctype="multipart/form-data">
                <input type="hidden" name="employeeId" value="@currEmployee.EmployeeId" />
                <label class="d-block rounded-3" style="position: relative; width: 100%; height: 100px; background: rgb(245, 245, 245)">
                    <input type="file" class="d-none" name="url_image" />
                    <div class="center">
                        <p>Thêm Avatar</p>
                    </div>
                </label>
                <div class="d-flex mt-2" style="justify-content: end">
                    <button class="btn btn-outline-primary" type="submit">Lưu</button>
                </div>
            </form>
        }
        <form class="d-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>
                            @if (role == 2)
                            {
                                <input class="form-control" type="text" value="@Model.Username" />
                            }
                            else
                            {
                                <input class="form-control" type="text" value="@Model.Username" disabled />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Chức vụ</td>
                        <td>
                            @if (role == 2)
                            {
                                @* <input class="form-control" type="number" value="@Model.Level_account" /> *@
                                <p>Quản lý</p>
                            }
                            else if (role == 1)
                            {
                                @* <input class="form-control" type="number" value="@Model.Level_account" disabled /> *@
                                <p>Nhân viên</p>
                            }
                            else
                            {
                                <p>None</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Mã nhân viên</td>
                        <td>
                            <a target="_blank" asp-controller="Employees"
                               asp-action="Details" asp-route-id="@Model.EmployeeId">
                                @Model.EmployeeId
                            </a>
                        </td>
                    </tr>
                    @if (Model.CreateAt != null)
                    {
                        <tr>
                            <td>Ngày tạo</td>
                            <td>@Model.CreateAt.Value.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                    @if (currEmployee != null)
                    {
                        <tr>
                            <td>Họ tên</td>
                            <td>@currEmployee.Firstname @currEmployee.Lastname</td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>@(currEmployee.Gender ? "Nam" : "Nữ")</td>
                        </tr>
                        <tr>
                            <td>Ngày sinh</td>
                            <td>@currEmployee.DateBirth.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td>Lương</td>
                            <td>@currEmployee.Salary</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (role == 2)
            {
                <button class="btn btn-outline-primary">Lưu thay đổi</button>
            }
        </form>
    </div>
    <div class="col-12 col-md-8">
        <h2>Thông tin khác</h2>
        @if (Model.Level_account == 1)
        {
            <section>
                <h3>Doanh số</h3>
                @if (ViewBag.employeeSalesTargets != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Tổng</th>
                                <th>Mục tiêu</th>
                                <th>Trạng thái</th>
                                <th>Thưởng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var salesTarget in (IEnumerable<SalesTarget>)ViewBag.employeeSalesTargets)
                            {
                                <tr>
                                    <td>
                                        @salesTarget.StartDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @salesTarget.EndDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @salesTarget.Total
                                    </td>
                                    <td>
                                        @salesTarget.Target
                                    </td>
                                    <td>@salesTarget.Status</td>
                                    <td>@salesTarget.Reward</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </section>
        }
        <section>
            <h3>Việc cần làm</h3>
            <div class="tasks-list"></div>
        </section>
        @if (Model.Level_account == 2)
        {
            <section>
                <h3>Giao việc</h3>
                <div class="manager-tasks-list">
                    <form name="manager-tasks-form" onsubmit="HandleSubmitManagerTask(event)">
                        <div class="form-group">
                            <label class="form-label">Nội dung</label>
                            <input class="form-control" type="text" id="Content" name="Content" placeholder="Nội dung việc..." />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mã nhân viên</label>
                            <input class="form-control" type="text" id="EmployeeId" name="EmployeeId" placeholder="Mã nhân viên..." onchange="HandleChangeEmployeeId(event)" onkeypress="HandleChangeEmployeeId(event)" />
                            <div id="employee-list" class="d-none" style="box-shadow: 3px 3px 20px rgba(0,0,0,0.1)"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Hạn</label>
                            <input class="form-control" type="date" id="Dateline" name="Dateline" />
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                </div>
            </section>
        }
    </div>
</div>

@section Scripts{
    <script>
        (function () {
            document.querySelector('#Dateline').valueAsDate = new Date();
        })()
    </script>
    <script>
        function OpenChangeAvatarForm() {
            var changeForm = document.getElementById('update-avatar-form');

            if (changeForm.classList.contains('d-none')) {
                changeForm.classList.remove('d-none')
            } else {
                changeForm.classList.add('d-none')
            }
        }

        var loadFile = function (event) {
            var image = document.querySelector('#avatar-thumbnail img');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    @if (Model.EmployeeId != null)
    {
        <script>
            var tasksList = [];
            (function () {
                $.ajax({
                    method: "GET",
                    url: `/api/TasksApi/Employees/@(Model.EmployeeId)`,
                    success: function (response) {
                        console.log(response)
                        tasksList = response;
                        // response = JSON.parse(response);
                        var html = '<ul>';
                        for (var x of response) {
                            if (!x.result) {
                                html += `<li class="d-flex gap-3" style="justify-content: space-between;">
                                                                        <div>
                                                                            <p class="fw-bold d-block my-auto" style="font-size: 1.5rem">${x.content}</p>
                                                                            <p class="d-block my-auto">${new Date(x.dateline).toLocaleDateString('en-GB')}</p>
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <button onclick="HandleDoneTasks('${x.id}')" class="btn btn-outline-primary done-btn my-auto">Cập nhật</button>
                                                                        </div>
                                                                    </li>`
                            } else {
                                html += `<li class="d-flex gap-3" style="justify-content: space-between;">
                                                                                    <div>
                                                                                        <p class="fw-bold d-block my-auto" style="font-size: 1.5rem">${x.content}</p>
                                                                                        <p class="d-block my-auto">${new Date(x.dateline).toLocaleDateString('en-GB')}</p>
                                                                                    </div>
                                                                                    <div class="d-flex">
                                                                                        <button class="btn btn-primary done-btn my-auto" disabled>Đã xong</button>
                                                                                    </div>
                                                                                </li>`
                            }
                        }

                        html += '</ul>'

                        document.querySelector('.tasks-list').innerHTML = html;
                    }
                })
            })()
        </script>
    }

    <script>
        var containerOfUpdateTaskForm;
        function HandleDoneTasks(id) {
            var curr;
            console.log(id);
            for (var x of tasksList) {
                if (x.id === id) curr = x;
            }

            if (curr) {
                console.log(curr);
                var element = document.createElement('div');
                element.innerHTML = `<div class="center update-task-container p-3 rounded-2" style="background: white">
                                                        <section>
                                                            <h3>Báo cáo công việc</h3>
                                                            <div class="update-tasks-list">
                                                                        <form name="update-tasks-form" onsubmit="HandleSubmitUpdateTask(event)">
                                                                    <input type="hidden" name="Id" value="${curr.id}" />
                                                                    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId"/>
                                                                    <div class="form-group">
                                                                        <label class="form-label">Nội dung</label>
                                                                        <input class="form-control" type="text" id="Content-update" name="Content" placeholder="Nội dung việc..." />
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="form-label">Báo cáo</label>
                                                                                        <input class="form-control" type="text" id="Result" name="Result" placeholder="Báo cáo..." />
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                                                </form>
                                                            </div>
                                                        </section>
                                                    </div>`;

                element.style.position = 'fixed';
                element.style.width = '100vw';
                element.style.height = '100vh';
                element.style.background = 'rgba(0,0,0,0.2)';
                element.style.zIndex = '100';
                element.style.top = '0';
                element.style.left = '0';
                element.onclick = (event) => {
                    console.log(event.target);
                    if (event.target === element)
                        document.body.removeChild(element);
                }

                document.body.appendChild(element);


                document.querySelector('.update-task-container input[name="Content"]').value = curr.content;
                document.querySelector('.update-task-container input[name="Content"]').disabled = true;

                containerOfUpdateTaskForm = element;
            }
        }
    </script>

    <script src="~/js/account/HandleEmployeeSite.js" defer></script>
}