,@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "SingUp";
}

@section Styles {
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/css/login/style.css">
}

<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="signup" asp-controller="Accounts" asp-action="SignUp">
                <h1 class="fw-bold" style="color: rgb(0, 0, 150)">SignUp</h1>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <select id="employeeId" name="employeeId" class="login__input">
                        <option value="">Select Employee</option>
                        @foreach (var employee in Model)
                        {
                            <option value="@employee.EmployeeId">@employee.Firstname @employee.Lastname</option>
                        }
                    </select>
                    <input type="text" id="searchEmployee" class="search-employee" placeholder="Search Employee">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="username" name="username" class="login__input" placeholder="User name / Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="password" name="password" class="login__input" placeholder="Password">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="login__input" placeholder="Confirm Password">
                </div>

                <p class="form-helper text-danger" style="font-size: 12px">
                    @if (ViewBag.ValidateMessage != null)
                    {
                        @ViewBag.ValidateMessage
                    }
                </p>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Sign Up Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

            <div class="social-signup" style="padding-top: 10px">
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Lấy danh sách tên nhân viên và giá trị EmployeeId
            var employees = [];
        @foreach (var employee in Model)
        {
            @:employees.push({ id: @employee.EmployeeId, name: "@employee.Firstname @employee.Lastname" });
        }

                // Xử lý sự kiện nhập giá trị vào ô tìm kiếm
                $("#searchEmployee").on("input", function () {
                    var searchValue = $(this).val().toLowerCase();
                    var dropdown = $("#employeeId");

                    // Xóa tất cả các tùy chọn hiện có
                    dropdown.empty();

                    // Thêm tùy chọn dựa trên tên nhân viên gợi ý
                    for (var i = 0; i < employees.length; i++) {
                        if (employees[i].name.toLowerCase().includes(searchValue)) {
                            dropdown.append($("<option></option>").attr("value", employees[i].id).text(employees[i].name));
                        }
                    }

                    // Nếu không có gợi ý, thêm một tùy chọn "Select Employee"
                    if (dropdown.find("option").length === 0) {
                        dropdown.append($("<option></option>").attr("value", "").text("Select Employee"));
                    }
                });

            // Mặc định, hiển thị tất cả tên nhân viên
            for (var i = 0; i < employees.length; i++) {
                $("#employeeId").append($("<option></option>").attr("value", employees[i].id).text(employees[i].name));
            }
        });
    </script>

    @*<script src="~/js/signup/HandleSubmit.js" defer></script>*@
}
