@using ShowroomManagement.Models
@{
    ViewData["Title"] = "Lịch đăng ký lái thử";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<TestDrive>
@section Styles {
    <link rel="stylesheet" href="~/css/calendar.css" />
}

<h1>Lịch tư vấn</h1>

<div class="d-flex mb-3 gap-4">
    <a asp-action="Index">
        <i class="ti ti-list"></i>
        Danh sách
    </a>
    <button id="export-excel-btn" class="btn my-0 p-0" style="color: rgb(100, 100, 250)" onclick="HandlePrintCalendar(event)">
        <i class="ti ti-calendar"></i>
        Xuất file PDF
    </button>
</div>
<div class="calendar-container">
    <div class="calendar-header d-flex gap-2" style="justify-content: center">
        <div class="d-flex my-auto" style="max-width: 200px; gap: 1rem">
            <label class="d-block my-auto">Tháng</label>
            <select class="form-control" name="month" id="month" onchange="handleMonthChange()">
                @for (int m = 1; m <= 12; m++)
                {
                    @if (m == DateTime.Now.Month)
                    {
                        <option value="@m" selected>@m</option>
                    }
                    else
                    {
                        <option value="@m">@m</option>
                    }
                }
            </select>
        </div>
        <div class="d-flex gap-1" style="font-size: 1rem">
            <p class="d-block my-auto">Năm</p>

            <select class="form-control" name="year" id="year" onchange="handleChange()">
                @for (int y = 2015; y < DateTime.Now.Year; y++)
                {
                    <option value="@y">@y</option>
                }
                <option value="@DateTime.Now.Year" selected>@DateTime.Now.Year</option>
            </select>
        </div>
    </div>
    <div id="calendar-container">
        <div class="calendar">
            <span class="day-name">Mon</span>
            <span class="day-name">Tue</span>
            <span class="day-name">Wed</span>
            <span class="day-name">Thu</span>
            <span class="day-name">Fri</span>
            <span class="day-name">Sat</span>
            <span class="day-name">Sun</span>
            <div class="day">1</div>
            <div class="day">2</div>
            <div class="day">3</div>
            <div class="day">4</div>
            <div class="day">5</div>
            <div class="day">6</div>
            <div class="day">7</div>
            <div class="day">8</div>
            <div class="day">9</div>
            <div class="day">10</div>
            <div class="day">11</div>
            <div class="day">12</div>
            <div class="day">13</div>
            <div class="day">14</div>
            <div class="day">15</div>
            <div class="day">16</div>
            <div class="day">17</div>
            <div class="day">18</div>
            <div class="day">19</div>
            <div class="day">20</div>
            <div class="day">21</div>
            <div class="day">22</div>
            <div class="day">23</div>
            <div class="day">24</div>
            <div class="day">25</div>
            <div class="day">26</div>
            <div class="day">27</div>
            <div class="day">28</div>
            <div class="day">29</div>
            <div class="day">30</div>
            <div class="day">31</div>
            <div class="day day--disabled">1</div>
            <div class="day day--disabled">2</div>
            <div class="day day--disabled">3</div>
            <div class="day day--disabled">4</div>
            <section class="task task--warning" style="grid-column: 3 / span 1">Projects</section>
            @* <section class="task task--danger">Design Sprint</section>
            <section class="task task--primary">
            Product Checkup 1
            <div class="task__detail">
            <h2>Product Checkup 1</h2>
            <p>15-17th November</p>
            </div>
            </section>
            <section class="task task--info">Product Checkup 2</section> *@
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/RenderCalendar.js" defer></script>
    <script>
        async function handleMonthChange() {
            var month = document.getElementById('month').value;
            var year = document.getElementById('year').value;

            console.log(month, year);

            var response = await RenderCalendar(year, month);
            // console.log(response);
            document.getElementById('calendar-container').removeChild(document.querySelector('#calendar-container .calendar'))
            document.getElementById('calendar-container').appendChild(response)
        }

        // Render the data after the Html content is Loaded.
        window.onload = () => handleMonthChange();
    </script>

    <script>
        function printContent(el) {
            var restorepage = $('body').html();
            var printcontentHTML = $(el).clone();
            var calendarTime = {
                year: $('#year').val(),
                month: $('#month').val(),
            };

            $('body').empty().html(printcontentHTML);
            $('body').prepend(`<p>Lịch tháng: ${calendarTime.month}/${calendarTime.year}</p>`);
            window.print();
            $('body').html(restorepage);
        }
        function HandlePrintCalendar(event) {
            var elem = document.querySelector('#calendar-container .calendar');
            printContent('#calendar-container .calendar')
        }
    </script>
}