@using System.Diagnostics;
@model IEnumerable<ShowroomManagement.Models.TestDrive>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Danh sách lịch lái thử</h1>
<div class="d-flex">
    <a class="btn btn-outline-primary d-flex align-items-center gap-2" asp-action="Create">
        <span class="material-symbols-outlined" style="font-size: 1rem">
            add_circle
        </span>
        Tạo mới
    </a>
    <a class="btn btn-outline-primary d-flex align-items-center gap-2" asp-action="Calendar">
        <span class="material-symbols-outlined">
            calendar_today
        </span>
        Lịch
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ClientId
                </td>
                <td>
                    @item.EmployeeId
                </td>
                <td>
                    @item.BookDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Note
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DriveId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DriveId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DriveId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    // Debug.WriteLine("\n\nPAGE = " + total + "\n\n");
    bool hasNext = ViewBag.nextPage;
}
<div class="pagination-container d-flex gap-1 justify-content-center">
    @for (int i = 0; i < total; i++)
    {
        @if (i + 1 == page)
        {
            <button class="btn btn-outline-primary active" disabled>@(i + 1)</button>
        }
        else if (total > 10 && i > 5 && i < 8)
        {
            <span>.</span>
        }
        else
        {
            <a class="btn btn-outline-primary"
               asp-action="Index" asp-route-page="@(i + 1)">
                @(i + 1)
            </a>
        }
    }
</div>