@model IEnumerable<ShowroomManagement.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //   var orders = ViewBag.OrderBy;
}


<h1>Danh sách sản phẩm</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        Tạo mới
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="d-flex">
                @Html.DisplayNameFor(model => model.ProductName)
                <a action="Index" asp-route-orderby="name" class="btn p-0 m-0">
                    <span class="material-symbols-outlined my-auto">
                        expand_more
                    </span>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Serial">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Serial">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Serial">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
