@model IEnumerable<ShowroomManagement.Models.Products>

@{
    ViewData["Title"] = "Trash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thùng rác</h1>

<p>
    Tổng: @Model.Count()
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="d-flex">
                    <form id="undoForm" asp-action="UndoFromTrash" method="POST">
                        <input type="hidden" name="id" value="@item.Serial" />
                        <button type="submit" class="btn btn-outline-primary">
                            Hoàn tác
                        </button>
                    </form>
                    <form id="deleteForm" asp-action="DeleteConfirmed" method="POST" onsubmit="HandleDelete(event)">
                        <input type="hidden" name="id" value="@item.Serial" />
                        <button type="submit" class="btn btn-outline-primary">
                            Xóa 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function HandleDelete(event) {
            event.preventDefault();
            if (confirm("Bạn có chắc muốn xóa?")) {
                document.getElementById("deleteForm").submit();
            }
        }

        function HandleUndoFromTrash(event) {
            event.preventDefault();
            if (confirm("Bạn có chắc muốn xóa?")) {
                document.undoForm.submit();
            }
        }
    </script>
}

