@model IEnumerable<ShowroomManagement.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="list-container px-2 px-md-5">

    <h1>Danh sách khách hàng</h1>
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Tạo mới</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cccd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @(item.DateBirth != null ? @item.DateBirth.Value.ToString("dd-MM-yyyy") : "-")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cccd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>