@model IEnumerable<ShowroomManagement.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var orderby = ViewBag.asc;
    var orderbydesc = ViewBag.desc;
}
@{
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    // Debug.WriteLine("\n\nPAGE = " + total + "\n\n");
    bool hasNext = ViewBag.nextPage;
}

<h1>Khách hàng</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
                @if (orderby == "firstname")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="firstname" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="firstname" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
                @if (orderby == "lastname")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="lastname" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="lastname" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
                @if (orderby == "datebirth")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="datebirth" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="datebirth" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
                @if (orderby == "cccd")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="cccd" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="cccd" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
                @if (orderby == "email")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="email" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="email" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
                @if (orderby == "gender")
                {
                    <a action="Index" asp-action="Index" asp-route-desc="gender" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_less
                        </span>
                    </a>
                }
                else
                {
                    <a action="Index" asp-action="Index" asp-route-asc="gender" class="btn p-0 m-0">
                        <span class="material-symbols-outlined my-auto">
                            expand_more
                        </span>
                    </a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @item.DateBirth.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cccd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @(item.Gender ? "Nam" : "Nữ")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ClientId">
                        <span class="material-symbols-outlined">
                            info
                        </span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ClientId">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container d-flex gap-1 justify-content-center">
    @for (int i = 0; i < total; i++)
    {
        @if (i + 1 == page)
        {
            <button class="btn btn-outline-primary active" disabled>@(i + 1)</button>
        }
        else if (total > 10 && i > 5 && i < 8)
        {
            <span>.</span>
        }
        else
        {
            <a class="btn btn-outline-primary"
               asp-action="Index" asp-route-page="@(i + 1)">
                @(i + 1)
            </a>
        }
    }
</div>


@section Scripts {
    <srcipt type="text/javascript">

    </srcipt>
}